!**/glob-import/dir/node_modules
.DS_Store
.idea
.pnpm-store
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache
.env

node_modules/
bundle.js
npm-debug.log

/.idea
/public

.env
.passport.js
.DS_Store

build/
dist/
client/.parcel-cache